<launch><node args="green_sideward.json" cwd="node" name="greenMoveSideward" output="screen" pkg="multi_agent" type="turtle_timed_publish.py" /><node args="violet_closest.json" cwd="node" name="violetScanClosest" output="screen" pkg="multi_agent" type="turtle_subscribe.py" /><node args="violet_complete.json" cwd="node" name="violetScanComplete" output="screen" pkg="multi_agent" type="turtle_subscribe.py" /><node args="green_measure.json" cwd="node" name="greenMeasure" output="screen" pkg="multi_agent" type="turtle_subscribe.py" /></launch>