<launch><node args="violet_move.json" cwd="node" name="violetMove" output="screen" pkg="multi_agent" type="turtle_publish.py" /><node args="violet_measure.json" cwd="node" name="violetMeasure" output="screen" pkg="multi_agent" type="turtle_subscribe.py" /><node args="violet_closest.json" cwd="node" name="violetScanClosest" output="screen" pkg="multi_agent" type="turtle_subscribe.py" /><node args="violet_complete.json" cwd="node" name="violetScanComplete" output="screen" pkg="multi_agent" type="turtle_subscribe.py" /></launch>