<launch><node args="blue_measure.json" cwd="node" name="blueMeasure" output="screen" pkg="multi_agent" type="turtle_subscribe.py" /><node args="violet_complete.json" cwd="node" name="violetScanComplete" output="screen" pkg="multi_agent" type="turtle_subscribe.py" /><node args="green_measure.json" cwd="node" name="greenMeasure" output="screen" pkg="multi_agent" type="turtle_subscribe.py" /><node args="violet_closest.json" cwd="node" name="violetScanClosest" output="screen" pkg="multi_agent" type="turtle_subscribe.py" /><node args="blue_forward.json" cwd="node" name="blueMoveForward" output="screen" pkg="multi_agent" type="turtle_timed_publish.py" /><node args="green_forward.json" cwd="node" name="greenMoveForward" output="screen" pkg="multi_agent" type="turtle_timed_publish.py" /></launch>